<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- <link rel="stylesheet" href="/index.css" /> -->
        <title>Live Covid Cases</title>
        {% load static %}
        <script type="text/javascript" src="{% static 'js/palette.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    </head>
    <body>
        <div style="height: max-content">
            <canvas id="myChart" width="2200" height="1100"></canvas>
        </div>
        <script>
            var countryList = {{ countryList|safe }};
            var totalList = {{ totalList|safe }};
            const data = {
                labels:  countryList,
                datasets: [{
                    label: 'My First Dataset',
                    data: totalList,
                    backgroundColor: palette('tol-dv', countryList.length).map(
                        function(hex) {
                            return '#' + hex;
                        }
                    ),
                    hoverOffset: 4
                }]
            };            
            const config = {
                type: 'pie',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio:false,
                    plugins: {
                        legend: {
                            position: 'top',
                            display: true,
                            fullsize: true
                        },
                        title: {
                            display: true,
                            text: 'Live Total Confirmed Cases'
                        }
                    }
                },
            };
            var myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
    </body>
</html>